<% if !@sounds.blank? %>
  <% for sound in @sounds %>
  <%= sound.artist_name %><p>-</p><%= sound.title %> 
    <%= link_to 'Edit', edit_sound_path(params[:id]) %> |
<%= link_to 'Delete', sound_path(params[:id]), method: 'delete' %>
  <% end %>
<% else %>
  <%= flash[:danger] %>
<% end %>




