<p id="notice">
  <%= notice %>
</p>  
<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>
<h4>Address</h4>
<p>
  <%= @location.address %>
</p>
<%= render 'google_map', location: @location %>
  <table class="table table-sm table-hover">
    <thead>
      <h4>Nearby Tagged Locations</h4>
      <tr>
        <th>Address</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
    <% for location in @location.nearbys(20) %>
      <tr>
        <td>
          
            <%= link_to location.address, location %>
        </td>
        <td>(
          <%= location.distance %> miles )
            <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_location_path(@location) %> |
    <%= link_to 'Back', locations_path %>
