<p class="callout" id="notice">
  <%= notice %>
    <p><strong>Latitude:</strong>
      <%= :latitude %>
    </p>
    <p><strong>Longitude:</strong>
      <%= :longitude %>
    </p>
    <h4>Address</h4>
    <p>
      <%= :address %>
    </p>
    Lat:
    <p id="latr">
    </p>
    Long:
    <p id="longr">
    </p >
    <div class="panel panel-default">
        <div class="panel-body" id="sounds">
          <%= render template: 'sounds/show', collection: @sounds %>
        </div>
    </div>
      <%= render 'sounds/sound_form', locals: { location_id: :id } %>
        <%= render 'google_map', location: @location %>
          <table class="table table-sm table-hover">
            <thead>
              <h4>Locations</h4>
              <tr>
                <th>Address</th>
                <th>Distance</th>
              </tr>
            </thead>
            <tbody>
              <% for location in @location.nearbys(20) %>
                <tr>
                  <td>
                    <%= link_to location.address, location_path(location.id) %>
                  </td>
                  <td>(
                    <%= location.distance %> miles )
                      <% end %>
                  </td>
                </tr>
            </tbody>
          </table>
          </div>
          </li>
          </ul>
          <%= link_to 'Edit', edit_location_path(@location) %> |
            <%= link_to 'Back', locations_path %>
