<!DOCTYPE html>
<html>

<head>
  <title>Retisolo</title>
  <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
</head>

<body>
  <nav>
    <%= link_to 'Log Out', destroy_user_session_path %>
      <%= link_to 'All Locations', locations_path %>
        <ul class="nav navbar-nav navbar-right">
          <h4>Your location:</h4>
          <li>
            <h5><p id="latr"></p></h5></li>
          <li>
            <h5><p id="longr"></p></h5></li>
        </ul>
  </nav>
  <%= yield %>
</body>

</html>
